@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

*{
    font-family: 'Lato', sans-serif;
}

body{
    margin: 0px;
}

.side-by-side{
    display: flex;
    justify-content: space-around;
}

.choropleth{
    
}

.choropleth-legend{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.choropleth .title,
.legend-title{
    font-size: 12px;
    font-weight: 700;
}


.legend-title{
    text-align: right;
}

.choropleth .title {
    text-align: center;
}

.map-legend svg .tick{
    stroke: white;

}